:root {
  --bg-colour: #202537;
  --text-colour: #e9ebf4;

  --correct-meter: #7cfc7c;
  --correct-meter2: hsl(177, 100%, 35%);
  --correct-meter3: hsl(202, 100%, 56%);
  --correct-meter4: hsl(236, 100%, 57%);

}

*,
*::before,
*::after,
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 100%;
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

.jp {
  // font-size: 3.5rem;
  font-family: "Noto Serif JP", serif;

  span {
    color: var(--text-colour);
  }
}