:root {
  --bg-colour: #202537;
  --text-colour: #e9ebf4;

  --correct-meter: #7cfc7c;
  --correct-meter2: hsl(177, 100%, 35%);
  --correct-meter3: hsl(202, 100%, 56%);
  --correct-meter4: hsl(236, 100%, 57%);

  /* Hats */

  --grey-base: #b2b3af;
  --white-base: #f3f0e4;
  --hat-gold: #e0be5b;
  --hat-black-1: #131213;
  --hat-black-2: #342f35;
  --hat-teal: #659c9e;

  /* BRUSHBUDDIES */
  --bb-fur: #d5d5d5;
  --flower1: #4c0e1a;
  --flower2: #641d2b;
  --flower3: #203a1c;
  --flower4: #444a22;

  // OTHER
  --qifrey-glasses: #3b3232;
  --qifrey-shoes1: #85614d;
  --qifrey-shoes2: #5d4231;
  --coco-shoes1: #f3cb4c;
  --coco-shoes2: #584607;
  --ink: #292929;
}

*,
*::before,
*::after,
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 100%;
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

.jp {
  // font-size: 3.5rem;
  font-family: "Noto Serif JP", serif;

  span {
    color: var(--text-colour);
  }
}

rt,
rp {
  // filter: drop-shadow(0 0 1px rgb(223, 100, 155));
  color: rgb(205, 100, 223);
}
