/* HATS */

.hat {
    fill-opacity: 1;
    stroke: var(--black);
    stroke-width: 0.404283;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-opacity: 1;
}

.hat-taper {
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 0.404283;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-opacity: 1;
    fill: var(--black);

}

.q-hat-base {
    fill: var(--grey-base) !important;
}

.q-hat-white {
    fill: var(--white-base) !important;
}

.hat-gold {
    fill: var(--hat-gold) !important;
}

.black1 {
    fill: var(--hat-black-1) !important;
}

.black2 {
    fill: var(--hat-black-2) !important;
}

.hat-teal {
    fill: var(--hat-teal) !important;
}

/* STARS */
.star {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 2px var(--hat-gold));
}

/* BRUSHBUDDIES */

.bb {
    opacity: 1;
    fill-opacity: 1;
    /* fill: none; */
    stroke: var(--black);
    stroke-width: 2.504;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.fur {
    fill: var(--bb-fur);
}

.eyes {
    fill: var(--white);
}

.eyes-thin {
    fill: var(--white);
    stroke-width: 0.808088;
}

.eyes-thin2 {
    fill: var(--white);
    stroke-width: 1.82917;
}

.pupil {
    fill: var(--black);
}

.pupil-thin {
    fill: var(--black);
    stroke-width: 0.808088;
}

.thin {
    stroke-width: 1.4801;
}

.flower {
    opacity: 1;
    fill-opacity: 1;
    stroke: var(--black);
    stroke-width: 0.85;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.flower-red1 {
    fill: var(--flower1);
}

.flower-red2 {
    fill: var(--flower2);
    stroke: none;
}

.flower-green1 {
    fill: var(--flower3);
}

.flower-green2 {
    fill: var(--flower4);
}

/* GIRLS */

.girls {
    fill: none;
    fill-opacity: 1;
    stroke: var(--black);
    stroke-width: 1.604;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.girls-fill {
    fill: var(--black);
}

.glasses {
    fill: var(--qifrey-glasses) !important;
}

.q-shoes1 {
    fill: var(--qifrey-shoes1) !important;
}

.q-shoes2 {
    fill: var(--qifrey-shoes2) !important;
}

.c-shoes1 {
    fill: var(--coco-shoes1) !important;
}

.c-shoes2 {
    fill: var(--coco-shoes2) !important;
}

.width-6 {
    stroke-width: 0.225 !important;
}

.c-book1 {
    fill: #d3ac6e;
    fill-opacity: 1;
    stroke: #5d3814;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-dasharray: none;
    stroke-opacity: 0.764706;
}

.c-book2 {
    fill: #eadabc;
    fill-opacity: 1;
    stroke: #5d3814;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-dasharray: none;
    stroke-opacity: 0.764706;
}

.ribbon {
    opacity: 1;
    fill: #e1e7e9;
    fill-opacity: 1;
    stroke: #99acae;
    stroke-width: 0.305001;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.white-bubble {
    fill: var(--white);
    fill-opacity: 1;
    stroke: var(--black);
    stroke-width: 0.825;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.ink {
    fill: var(--ink);
    fill-opacity: 1;
    stroke: var(--ink);
    stroke-width: 0.825;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0;
    stroke-dasharray: none;
    stroke-opacity: 1
}