$bp-m: 700px;

.game-page {
  width: 100%;
  height: 100vh;
  position: absolute;
}

@keyframes bb-move {
  from {
    top: -60%;
  }

  to {
    top: 0%;
  }
}

@keyframes bb-done {
  from {
    top: -60%;
  }

  to {
    top: 95%;
  }
}

@keyframes btn-done {
  0% {
    top: -5%;
  }

  80% {
    z-index: -1;
  }

  100% {
    top: 120%;
    z-index: 0;
  }
}

.text-block {
  position: absolute;
  top: 0;
  left: 0;
  // width: 50rem;
  width: clamp(30rem, 41.67%, 50rem);
  height: 12rem;

  // background-color: hsl(from var(--bg-colour) h calc(s + 10) l);
  // background: linear-gradient(130deg, rgb(242, 243, 190) 10%, rgb(248, 248, 243));
  background: linear-gradient(130deg, #cfb5a5, #ecd8cc);

  border-radius: 0 0 1rem 0;

  padding: 1rem;
  border-right: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--bg-colour);
  font-weight: 600;
  letter-spacing: 0.0625rem;

  .qifrey-glasses-game {
    position: absolute;
    top: 81%;
    left: -6%;

    transform: rotateZ(-40deg);

    transform-origin: 50%, 50%;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;

    .svg {
      height: 70px;
    }
  }

  .bb--game {
    position: absolute;
    top: 0%;
    left: 0%;

    z-index: -2;

    animation: bb-move 7s ease-in-out infinite alternate;

    .svg {
      height: 300px;
      width: 150px;
    }

    .fur {
      fill: var(--text-colour);
    }
  }

  .bb--success {
    animation: bb-done 7s ease-in-out forwards;
  }
}

.complete-btn {
  position: absolute;
  left: 4%;
  top: 0%;

  z-index: -1;

  // background-color: rgb(117, 250, 124);
  background: linear-gradient(45deg, var(--correct-meter2), var(--correct-meter3));
  width: 7rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 2px solid var(--bg-colour);
  padding: 0 0.5rem;
  letter-spacing: 0.0625rem;
  font-size: 0.9rem;
  color: var(--bg-colour);
  animation: btn-done 7s ease-in-out forwards;

  // transition: color 0.2s ease-in-out, background 0.2s ease-in-out;

  ruby {
    color: var(--correct-meter4);
    filter: drop-shadow(0 0 1px rgb(205, 100, 223));
    font-weight: 800;
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
    // background-color: rgb(229, 233, 0);
    background: linear-gradient(45deg, var(--correct-meter), var(--correct-meter4));
    color: var(--text-colour);

    ruby {
      color: var(--correct-meter2);
    }
  }
}

@keyframes first-correct {
  from {
    width: 0;
    // background-color: aliceblue;
    background: linear-gradient(45deg, aliceblue, aliceblue);
  }

  to {
    width: 25%;
    // background-color: var(--correct-meter);
    background: linear-gradient(45deg, var(--correct-meter), var(--correct-meter));
  }
}

@keyframes second-correct {
  from {
    width: 25%;
    // background-color: var(--correct-meter);
    background: linear-gradient(45deg, var(--correct-meter), var(--correct-meter));
  }

  to {
    width: 50%;
    // background-color: var(--correct-meter2);
    background: linear-gradient(45deg, var(--correct-meter), var(--correct-meter2));
  }
}

@keyframes third-correct {
  from {
    width: 50%;
    // background-color: var(--correct-meter2);
    background: linear-gradient(45deg, var(--correct-meter), var(--correct-meter2));
  }

  to {
    width: 75%;
    // background-color: var(--correct-meter3);
    background: linear-gradient(45deg, var(--correct-meter), var(--correct-meter2), var(--correct-meter3));
  }
}

@keyframes last-correct {
  from {
    width: 75%;
    // background-color: var(--correct-meter3);
    background: linear-gradient(45deg, var(--correct-meter), var(--correct-meter2), var(--correct-meter3));
  }

  to {
    width: 100%;
    // background-color: var(--correct-meter4);
    background: linear-gradient(45deg, var(--correct-meter), var(--correct-meter2), var(--correct-meter3), var(--correct-meter4));
  }
}

.counter-display {
  position: absolute;
  top: calc(12rem - 1.8rem - 0.25rem);

  width: 100%;
  height: 1.8rem;
  background-color: aliceblue;
  border-top: 0.25rem solid black;
  border-radius: 0 0 0.5rem 0;
  overflow: hidden;

  &--0 {
    height: 100%;
    width: 0;
  }

  &--1 {
    height: 100%;

    animation: first-correct 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    background-color: var(--correct-meter);
  }

  &--2 {
    height: 100%;

    animation: second-correct 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    background-color: var(--correct-meter);
  }

  &--3 {
    height: 100%;

    animation: third-correct 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    background-color: var(--correct-meter);
  }

  &--4 {
    height: 100%;

    animation: last-correct 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
}

button {
  background-color: inherit;
  border: none;
}

.svg {
  position: absolute;
  z-index: 0;
}

.jp {
  position: absolute;
  z-index: 1;
  font-size: 1.5rem;

  ruby {
    filter: none;
  }
}

#iceberg-group {
  position: absolute;

  // right: calc(4rem + 300px);
  top: 0;

  right: 18.95%;

  span {
    width: 10rem;
    left: 3.8rem;
    top: 6rem;
    font-size: 1.8rem;
  }
}

#vines-group {
  position: absolute;
  // left: 47rem;
  // top: 15rem;

  left: 40%;
  top: 25.15%;

  span {
    height: 10rem;
    writing-mode: vertical-rl;
    left: 8.5rem;
    top: 4rem;
    font-size: 2rem;
    color: #5e6234;
    z-index: -1;
  }
}

#rock-group {
  position: absolute;
  // left: 78rem;
  // bottom: calc(7rem + 300px);

  left: 65%;
  bottom: 43.2%;

  span {
    z-index: 2;
    left: 6.8rem;
    top: 7.5rem;
    width: 6rem;
    font-size: 2.8rem;
  }
}

#paper-group {
  position: absolute;
  // left: 7rem;
  // top: 17rem;

  left: 5.8%;
  top: 28.5%;

  // svg {
  //   &:has(#folded-paper) {
  //     width: 900px;
  //     height: 900px;
  //   }
  // }

  span {
    color: black;
    left: 5rem;
    top: 2rem;
    font-size: 4rem;
    writing-mode: vertical-rl;
    height: 15rem;
  }
}

#mindwipe {
  bottom: 2rem;
  height: 10rem;

  left: 1.6%;
  width: clamp(7rem, 8.3%, 10rem);

  filter: drop-shadow(0 0 2px grey);
}

@keyframes sigilColour {
  0% {
    stroke: rgb(223, 100, 100);
  }

  12.5% {
    stroke: rgb(223, 217, 100);
  }

  25% {
    stroke: rgb(149, 223, 100);
  }

  37.5% {
    stroke: rgb(100, 223, 157);
  }

  50% {
    stroke: rgb(100, 139, 223);
  }

  62.5% {
    stroke: rgb(100, 100, 223);
  }

  75% {
    stroke: rgb(205, 100, 223);
  }

  87.5% {
    stroke: rgb(223, 100, 155);
  }

  100% {
    stroke: rgb(223, 100, 100);
  }
}

@keyframes sigilColourFill {
  0% {
    stroke: rgb(223, 100, 100);
    fill: rgb(223, 100, 100);
  }

  12.5% {
    stroke: rgb(223, 217, 100);
    fill: rgb(223, 217, 100);
  }

  25% {
    stroke: rgb(149, 223, 100);
    fill: rgb(149, 223, 100);
  }

  37.5% {
    stroke: rgb(100, 223, 157);
    fill: rgb(100, 223, 157);
  }

  50% {
    stroke: rgb(100, 139, 223);
    fill: rgb(100, 139, 223);
  }

  62.5% {
    stroke: rgb(100, 100, 223);
    fill: rgb(100, 100, 223);
  }

  75% {
    stroke: rgb(205, 100, 223);
    fill: rgb(205, 100, 223);
  }

  87.5% {
    stroke: rgb(223, 100, 155);
    fill: rgb(223, 100, 155);
  }

  100% {
    stroke: rgb(223, 100, 100);
    fill: rgb(223, 100, 100);
  }
}

@keyframes sigilGlow {
  0% {
    filter: drop-shadow(0 0 2px rgb(223, 100, 100));
  }

  12.5% {
    filter: drop-shadow(0 0 1.5px rgb(223, 217, 100));
  }

  25% {
    filter: drop-shadow(0 0 1px rgb(149, 223, 100));
  }

  37.5% {
    filter: drop-shadow(0 0 1.5px rgb(100, 223, 157));
  }

  50% {
    filter: drop-shadow(0 0 2px rgb(100, 139, 223));
  }

  62.5% {
    filter: drop-shadow(0 0 1.5px rgb(100, 100, 223));
  }

  75% {
    filter: drop-shadow(0 0 1px rgb(205, 100, 223));
  }

  87.5% {
    filter: drop-shadow(0 0 1.5px rgb(223, 100, 155));
  }

  100% {
    filter: drop-shadow(0 0 2px rgb(223, 100, 100));
  }
}

@keyframes spin-spin {
  0% {
    transform: rotate(0);
  }

  12.5% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(90deg);
  }

  37.5% {
    transform: rotate(135deg);
  }

  50% {
    transform: rotate(180deg);
  }

  62.5% {
    transform: rotate(225deg);
  }

  75% {
    transform: rotate(270deg);
  }

  87.5% {
    transform: rotate(315deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#grasping-wind {
  bottom: 7rem;
  height: 15rem;

  left: 16.67%;
  width: clamp(11rem, 12.5%, 15rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
  }

  // #l2__container {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 8s;
  // }

  // #l2__arrow-1,
  // #l2__arrow-2,
  // #l2__arrow-3,
  // #l2__arrow-4 {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 12s;
  //     color: rgb(212, 100, 100);
  //   }
  // }

  // #m2__S,
  // #m2__lines-right,
  // #m2__lines-left {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 12s;
  //     animation-delay: -1s;
  //   }
  // }
}

#light {
  top: 23rem;
  height: 12rem;

  left: 27.5%;
  width: clamp(9rem, 10%, 12rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;
  animation-delay: -1s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -1s;
  }

  // #l8__container {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 8s;
  // }

  // #l8__Ts {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 8s;
  //   }
  // }

  // #m8__center {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 8s;
  //     animation-delay: -1s;
  //   }
  // }
}

#pyreball {
  bottom: 7rem;
  height: 16rem;

  left: 47.5%;
  width: clamp(10rem, 13.3%, 16rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;
  animation-delay: -2s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -2s;
  }

  // #l3__container {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 9s;
  // }

  // #l3__arrow-1,
  // #l3__arrow-2,
  // #l3__arrow-3,
  // #l3__arrow-4 {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 9s;
  //   }
  // }

  // #m3__center {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 9s;
  //     animation-delay: -1s;
  //   }
  // }
}

#rock-breaker {
  top: 24rem;
  height: 10rem;

  left: 55.83%;
  width: clamp(8rem, 8.3%, 10rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;
  animation-delay: -3s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -3s;
  }

  .fill {
    animation: sigilColourFill linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -3s;
  }

  // #l1__container,
  // #l1__t-left-horizontal,
  // #l1__t-left-vertical,
  // #l1__t-right-horizontal,
  // #l1__t-right-vertical,
  // #l1__m-bottom,
  // #l1__m-top {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 10s;
  // }

  // #m1__h-line-top,
  // #m1__v-line-center,
  // #m1__h-line-bottom,
  // #m1__angle-left,
  // #m1__angle-right {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 10s;
  //   animation-delay: -1s;
  // }

  // #m1__circle-right,
  // #m1__circle-left {
  //   animation: sigilColourFill linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 10s;
  //   animation-delay: -1s;
  // }
}

#SBOS {
  top: 3rem;
  height: 20rem;

  left: 56.67%;
  width: clamp(15rem, 16.67%, 20rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;
  animation-delay: -4s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -4s;
  }

  .fill {
    animation: sigilColourFill linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -4s;
  }

  // #lpath256,
  // #lpath257 {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 15s;
  // }

  // #l10__outer-decorations,
  // #l10__outer-circles {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 15s;
  //   }
  //   .fill {
  //     animation: sigilColourFill linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 15s;
  //   }
  // }

  // #mpath258 {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 15s;
  //   animation-delay: -1s;
  // }

  // #m10__center-tie-shapes,
  // #m10__center-flower,
  // #m10__center-circles {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 15s;
  //     animation-delay: -1s;
  //   }
  // }
}

#snugstone {
  top: 20rem;
  height: 18rem;

  left: 75%;
  width: clamp(15rem, 15%, 18rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
  }

  // #l6__container {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 7s;
  // }

  // #l6__Ts,
  // #l6__curves {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 7s;
  //   }
  // }

  // #m6__center {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 7s;
  //     animation-delay: -1s;
  //   }
  // }
}

#sylphshoes {
  bottom: 3rem;
  height: 14rem;

  right: 5.83%;
  width: clamp(10rem, 11.67%, 14rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;
  animation-delay: -1s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -1s;
  }

  // #l9__container {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 11s;
  // }

  // #l9__triangles,
  // #l9__arrows {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 11s;
  //   }
  // }

  // #m9__center-spiral,
  // #m9__center-arcs {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 11s;
  //     animation-delay: -1s;
  //   }
  // }
}

#time-rewind {
  bottom: 10rem;
  height: 12rem;

  left: 34.17%;
  width: clamp(9rem, 10%, 12rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;
  animation-delay: -5s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -5s;
  }

  .fill {
    animation: sigilColourFill linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -5s;
  }
}

#water-blade {
  top: 3rem;
  height: 12rem;

  left: 44.17%;
  width: clamp(9rem, 10%, 12rem);

  animation:
    sigilGlow linear,
    spin-spin linear;
  animation-iteration-count: infinite, infinite;
  animation-duration: 8s, 20s;
  animation-delay: -6s;

  .stroke {
    animation: sigilColour linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -6s;
  }

  // #l7__container {
  //   animation: sigilColour linear;
  //   animation-iteration-count: infinite;
  //   animation-duration: 12.5s;
  // }

  // #l7__lines,
  // #l7__triangles {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 12.5s;
  //   }
  // }

  // #m7__S {
  //   .stroke {
  //     animation: sigilColour linear;
  //     animation-iteration-count: infinite;
  //     animation-duration: 12.5s;
  //     animation-delay: -1s;
  //   }
  // }
}
