:root {
  /* --white: black;
            --black: red; */

  --white: white;
  --black: black;

  /* iceberg colors */
  --ice1: #f5f8f2;
  --ice2: #d8edf1;
  --grass1: #71c767;
  --grass2: #47a53d;
  --water1: #5cb5c6;
  --water2: #89cad9;

  /* vines colors */
  --vines: #5e6234;

  /* rock colors */
  --rock-1: #c8ae9d;
  --rock-2: #cfb5a5;
  --rock-3: #c1a693;
  --rock-4: #b59a87;
  --moss-1: #84b412;
  --moss-2: #79a215;
  --bg: #ffffff;
  --shadow-1: #876954;
  --shadow-2: #6e5545;

  /* paper colors */
  --paper1: #ededed;
  --paper2: #e2e2e2;
  --paper3: #c6c6c6;
  --paper4: #9e9e9e;
  --paper5: #919191;
  --paper6: #b2b2b2;
  --paper7: #c4c4c4;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.svg {
  width: 300px;
  height: 300px;

  // width: clamp(150px, 15.625vw, 300px);

  transition: all ease-in-out 0.05s;

  &--chosen {

    filter: drop-shadow(0 0 3px white);

    .stroke {
      stroke: #95ff95;
    }

    .fill {
      stroke: #95ff95;
      fill: #95ff95;
    }
  }

  &--inert {

    .stroke {
      stroke: #4e4e4e;
    }

    .fill {
      stroke: #4e4e4e;
      fill: #4e4e4e;
    }
  }
}

.text {
  width: 300px;
}

.stroke {
  stroke: var(--black);
  fill: none;
  stroke-width: 1.465;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.stroke-white {
  stroke: var(--white);
  fill: none;
  stroke-width: 1.465;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.fill {
  stroke: var(--black);
  fill: var(--black);
  stroke-width: 1.465;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.fill-white {
  stroke: var(--white);
  fill: var(--white);
  stroke-width: 1.465;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.width-2 {
  stroke-width: 1.58761;
}

.width-3 {
  stroke-width: 1.74693;
}

.width-4 {
  stroke-width: 0.551951;
}

.width-5 {
  stroke-width: 1.00568;
}

/* ICEBERG CSS */

.image-default {
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.404283;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-opacity: 0.22093;
}

.ice-main {
  fill: var(--ice1);
}

.ice-shadow {
  fill: var(--ice2);
}

.grass-main {
  fill: var(--grass1);
}

.grass-shadow {
  fill: var(--grass2);
}

.water-main {
  fill: var(--water1);
}

.water-shadow {
  fill: var(--water2);
}

/* VINES CSS */

.vines {
  fill: var(--vines);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.404283;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-opacity: 0.22093;
}

/* ROCK CSS */

.rock {
  fill: var(--rock-1);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.404283;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-opacity: 0.22093;
}

.rock-shadow1 {
  fill: var(--rock-2);
}

.rock-shadow2 {
  fill: var(--rock-3);
}

.rock-shadow3 {
  fill: var(--rock-4);
}

.moss1 {
  fill: var(--moss-1);
}

.moss2 {
  fill: var(--moss-2);
}

.inner-rock {
  fill: var(--bg-colour);
}

.inner-shadow1 {
  fill: var(--shadow-1);
}

.inner-shadow2 {
  fill: var(--shadow-2);
}

/* PAPER CSS */

.paper {
  fill: var(--paper1);
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.404283;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;
  stroke-opacity: 0.22093;
}

.fold1 {
  fill: var(--paper2);
}

.fold2 {
  fill: var(--paper3);
}

.fold3 {
  fill: var(--paper4);
}

.fold4 {
  fill: var(--paper5);
}

.fold5 {
  fill: var(--paper6);
}

.fold6 {
  fill: var(--paper7);
}