$bp-m: 700px;

.header-text {
  width: 35rem;
  stroke: var(--text-colour);
  fill: hsl(from var(--text-colour) h calc(s - 20%) l); //// No work
  stroke-width: 0.404283;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 0;

  @media screen and (max-width: $bp-m) {
    width: 25rem;
  }
}

.starting-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  position: relative;
}

.starting-message {
  font-size: 3rem;
  font-family: "Playwrite ID", cursive; //"Dancing Script", cursive;
  user-select: none;
  outline: 0.25rem red solid;
  border-radius: 2rem;
  padding: 2rem 3rem;
  background-color: hsl(from var(--bg-colour) h calc(s + 10) l);

  @media screen and (max-width: $bp-m) {
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  &:hover {
    cursor: default;
  }

  button {
    color: var(--text-colour);
    background: none;
    border: none;
    font-size: 3rem;
    font-family: "Playwrite ID", cursive; //"Dancing Script", cursive;

    @media screen and (max-width: $bp-m) {
      font-size: 2rem;
    }

    &:hover {
      //color: red;
      cursor: default;
    }
  }
}

.gradient-text-example {
  font-size: 2rem;
  background: linear-gradient(180deg, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes walkies {
  from {
    left: 8%;
  }

  to {
    left: 70%;
  }
}

@keyframes eyes {
  0% {
    transform: translate(0, 0);
  }

  70% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-2px, 1px);
  }
}

@keyframes move-up {
  0% {
    transform: translate(0, 0);
  }

  70% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(10px, -10px);
  }
}

.starting-page .bb {
  position: absolute;

  .fur {
    fill: var(--text-colour);
  }

  &--1 {
    top: 45%;
    left: 33%;

    z-index: -1;

    transform: rotate(45deg);

    .svg {
      width: 200px;
      height: 200px;
    }
  }

  &--2 {
    top: 65%;
    right: 25%;

    .svg {
      width: 400px;
      height: 300px;

      animation: move-up 8s ease-in-out infinite alternate forwards;
    }

    .pupil-thin {
      animation: eyes 8s ease-in-out infinite alternate forwards;
    }
  }

  &--3 {
    bottom: 150px;
    left: 8%;

    animation: walkies 8s ease-in-out infinite alternate forwards;

    .svg {
      width: 200px;
      height: 150px;
    }
  }
}

@keyframes bubble-bounce {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0%);
  }
}

.starting-page {
  .container {
    position: absolute;

    &-1 {
      left: 8%;
      top: 35%;
    }

    &-2 {
      right: 8%;
      top: 25%;
    }
  }

  .bubble-1 {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: inherit;
    border: 0.125rem solid white;
    box-shadow: 0 0 7px var(--hat-teal), inset 0 0 7px var(--hat-teal);

    animation: bubble-bounce 5s ease-in-out infinite alternate;
    animation-delay: 1s;
  }

  .bubble-2 {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: inherit;
    border: 0.125rem solid white;
    box-shadow: 0 0 7px var(--hat-gold), inset 0 0 7px var(--hat-gold);
    margin: 1rem 0 0 7rem;

    animation: bubble-bounce 5s ease-in-out infinite alternate;
  }

  .bubble-3 {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: inherit;
    border: 0.125rem solid white;
    box-shadow: 0 0 7px #AF40FF, inset 0 0 7px #AF40FF;
    margin: 1rem 0 0 7rem;

    animation: bubble-bounce 5s ease-in-out infinite alternate;
  }

  .bubble-4 {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: inherit;
    border: 0.125rem solid white;
    box-shadow: 0 0 7px #00DDEB, inset 0 0 7px #00DDEB;

    animation: bubble-bounce 5s ease-in-out infinite alternate;
  }

  .bubble-5 {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: inherit;
    border: 0.125rem solid white;
    box-shadow: 0 0 7px #5B42F3, inset 0 0 7px #5B42F3;

    animation: bubble-bounce 5s ease-in-out infinite alternate;
    animation-delay: 1s;
  }
}